@charset "utf-8";
@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  font-size: var(--sm-font-size);
  color: #fff;
  line-height: var(--sm-line-height);
  background-color: var(--default-blk);
}
.wrapper {
  width: 100%;
  height: auto;
}
/* 공통영역 */
.con {
  width: 1600px;
  height: auto;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: background-color 0.5s;
}
header .con {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
/* 로고 */
h1 {
  width: fit-content;
  align-self: center; /* 마진이나 패딩으로 가운데로 옮기기도 가능 */
}
h1 a {
  /* 로고 색상 흰색으로 변경 */
  filter: invert(100%);
}
/* 메뉴 */
#gnb {
  width: fit-content;
  height: 100%;
}
#gnb > ul {
  width: fit-content;
  height: auto; /* 마우스 올리면 2차메뉴 나와야하니깐 */
  display: flex;
  gap: 40px;
  line-height: 80px; /* 헤더높이랑 똑같이해서 헤더에 1차메뉴만 보이게 */
  text-transform: capitalize; /* 첫글자 대문자 */
  text-align: center;
}
#gnb > ul > li {
  width: 150px; /*fit-content하면 글자긴애들은 아래로내려감*/
  position: relative;
}
#gnb > ul > li > a {
  display: block;
  transition: 0.3s;
  font-weight: 500;
}
#gnb > ul > li:hover > a {
  color: var(--main-color); /* 자손으로 불러왔으니깐 2차메뉴 글자색은 안바뀜 */
}
/* 2차메뉴 */
.submenu {
  width: 100%; /* li의 100% */
  height: 0; /*overflow-hidden 써야 숨겨짐*/
  overflow: hidden;
  line-height: var(--md-line-height);
  position: absolute; /* 포지션때문에 브라우저에서 떨어져있어서 당장은 안보임_긁어보면나옴 */
  top: 100px;
  transition: 0.5s;
  z-index: 1000;
}
.submenu > li {
  height: fit-content;
}
.submenu > li > a {
  display: block;
  transition: 0.3s;
}
.submenu > li:hover > a {
  color: var(--main-color);
}
#gnb:hover .submenu {
  height: 152px;
}
/* submenu 뒤에 전체배경 */
#gnb::after {
  content: "header-background";
  font-size: 0;
  position: absolute; /* 0점 헤더기준_gnb기준이면 그거 시작지점부터 100vw */
  top: 80px; /* 헤더아래부터 */
  left: 0;
  width: 100vw;
  height: 0; /*마우스올리면 그때보여야해서*/
  transition: 0.5s;
  backdrop-filter: blur(10px); /* 배경 블러처리 △뒤에 단색이면 블러 안먹음 */
}
header:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid #000;
}
#gnb:hover::after {
  height: 200px;
  border-bottom: 1px solid #ddd;
}
/* 아이콘 */
.icons {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
}
.icons a {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1; /* i폰트도 폰트 */
  transition: 0.5s;
}
.icons a:hover {
  color: var(--default-blk);
  background-color: var(--sub-color);
  border-radius: 100%;
}
.icons a:last-child {
  /* 메뉴아이콘은 pc에선 안보이고 모바일에서만 보이게 할꺼임 */
  display: none;
}
/* 컨텐츠영역 */
main,
section {
  width: 100%;
  height: auto;
}
/* 메인비주얼 */
.main_visual {
  width: 100%;
  height: 100vh;
  position: relative; /* 스크롤다운 화살표에 포지션 주려고 */
  display: flex;
  justify-content: center;
  align-items: center;
}
.visual_text {
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  padding: 0 200px;
}
.visual_text h2 {
  font-size: clamp(80px, 6vw, 100px); /* 범위제한_6vw:브라우저 6% */
  line-height: 1.2;
  margin-bottom: 40px;
  font-weight: 600;
}
.visual_text h2 span {
  -webkit-text-fill-color: transparent; /* 글자색 투명 */
  -webkit-text-stroke: 0.5px #fff; /* 글자테두리 */
}
.visual_text p {
  position: relative; /* 원래없다가 브라우저 로딩되면서 올라오게하려고 */
  animation: textup 2s ease 1s 1 forwards;
  will-change: top opacity; /* 애니메이션이나 트렌지션, 트렌스폼으로 00에 변화를 줄꺼다 ->버벅거림방지 */
  font-weight: 300;
  font-size: var(--md-font-size);
  line-height: var(--md-line-height);
  opacity: 0;
}

@keyframes textup {
  from {
    opacity: 0;
    top: 50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
.visual_video {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.visual_video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.scroll_down {
  position: absolute; /*부모에 flex, justi, align 다 센터줘서 가운데로 옴*/
  bottom: 50px;
  transition: 0.3s linear;
  filter: drop-shadow(0px 2px 3px #000);
}
.scroll_down:hover {
  bottom: 55px;
}
/* 두번째 섹션 */
#sec2 {
  overflow: hidden; /* 로켓때문에 가로스크롤 생기지 않게 */
  position: relative; /* 로켓 위치잡게 */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}
.rocket {
  position: absolute;
  left: -200px;
  font-size: clamp(50px, 8vw, 100px);
  animation: rocket 4s linear 1s 1;
  animation-play-state: paused;
  will-change: transform;
}
#sec2:hover .rocket {
  animation-play-state: running;
}
@keyframes rocket {
  from {
    transform: translate(0px) rotate(0deg); /* 현재위치(left -200px) */
  }
  to {
    transform: translate(105vw) rotate(360deg);
  }
}
/* 세번째 섹션 */
.sec3 {
  padding: 200px 0;
}
.sec_title {
  text-align: center;
  font-size: var(--xl-font-size);
  font-weight: 500;
  margin-bottom: 40px;
}
.sec_title + p {
  text-align: center;
  font-size: var(--md-font-size);
  font-weight: 200;
  margin-bottom: 100px;
}
.icon_content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
.icon_content > div div {
  transition: 0.5s;
}
.icon_content > div:hover div {
  color: var(--sub-color);
  transform: translateY(-10px);
}
.text_bottom {
  margin-top: 20px;
  border-top: 1px solid #333;
  padding-top: 10px;
}
.text_bottom > h3 {
  font-weight: 600;
  font-size: var(--sm-font-size);
}
.text_bottom > p {
  font-weight: 200;
  font-size: var(--sm-font-size);
}
/* 네번째 섹션 */
.sec4 {
  /* background-color: var(--sub-color); */
  background-color: #77f43d;
  color: #fff;
  padding: 200px 0;
  position: relative; /* 가상요소 동그라미때문에 */
}
.sec4::before,
.sec4::after {
  content: "circle";
  font-size: 0;
  display: block;
  width: 600px;
  height: 600px;
  border-radius: 100%;
}
.sec4::before {
  position: absolute;
  left: -100px;
  top: 100px;
  background-color: var(--main-color);
}
.sec4::after {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 100px;
  bottom: 100px;
  background-color: #fff;
  opacity: 0.4;
  z-index: 5;
}
.sec4 .con {
  display: flex;
}
.sec4 > .con > .heading_left {
  width: clamp(480px, 30%, 480px);
  height: 1350px;
  position: relative; /*글자따라다닐공간*/
}
.heading_left .text_box {
  position: sticky; /*원이랑 글자 둘다 포지션줘서 이제 글자가 위로 올라옴(글자태그구조가 더 아래)*/
  top: 200px;
}
.heading_left .text_box h2 {
  font-size: var(--xl-font-size);
  line-height: var(--xl-line-height);
  font-weight: 600;
}
.heading_left .text_box p {
  font-size: var(--sm-font-size);
  margin-bottom: 40px;
}
.more {
  display: flex; /* 글자랑 아이콘 간격벌리려고 */
  align-items: center;
  justify-content: space-between;
  width: 150px;
  padding: 8px 16px;
  border: 1px solid #fff;
  transition: 0.5s; /* 호버 색상변하기용 */
  font-weight: 500;
}
.more:hover {
  border: 1px solid var(--default-blk);
  color: var(--default-blk);
}
.more i {
  display: block;
  width: fit-content;
  height: fit-content;
  transition: transform 0.5s; /* 호버 아이콘 돌아가기용 */
}
.more:hover i {
  transform: rotate(360deg);
}
.right_con {
  width: 70%;
  position: relative; /* 안쪽 이미지 움직여야함 */
  z-index: 10;
  display: flex;
  flex-direction: column; /* 글자 세로방향 */
  align-items: flex-end; /* 방향 컬럼으로 바껴서 justify 안씀 */
  gap: 40px;
}
.right_con .data_box {
  width: 60%; /* 70%쓰는 right_con의 60% */
  height: 300px;
  position: relative; /* 그림 나타나게 */
  box-sizing: border-box;
  padding: 20px;
  transition-property: width, border-bottom, color; /* 3가지가 변할 초가 다 달라서 */
  transition-duration: 0.8s, 0.1s, 0.5s; /* width, border-bottom, color */
  cursor: pointer;
  border-bottom: 1px solid #fff;
}
.right_con .data_box:hover {
  width: 70%;
  border-bottom: 3px solid var(--main-color);
  color: var(--main-color);
}
.right_con .data_box > img {
  position: absolute;
  width: 300px;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1s;
}
.right_con .data_box:hover > img {
  transform: translateX(-320px);
  opacity: 1;
}
.right_con .data_box > h4 {
  font-size: var(--sm-font-size);
  line-height: var(--md-line-height);
  font-weight: 600;
}
.right_con .data_box > h3 {
  font-weight: 400;
  text-transform: capitalize;
  font-size: var(--xl-font-size);
  line-height: var(--lg-line-height);
  margin-bottom: 20px;
}
.right_con .data_box p {
  font-size: var(--md-font-size);
  font-weight: 200;
}
/* 다섯번째 섹션 */
.sec5 {
  padding: 200px 0;
  overflow: hidden; /*높이 안지정하고 알아서 높이만큼 늘어나라*/
  position: relative;
}
.sec5 > .con {
  position: relative;
  z-index: 20; /* 흘러가는 글자보다 위로 올라오게 */
}
.sec5 > .con > h2 > br {
  display: none; /* pc에선 줄바꿈안되게하려고 br숨김*/
}
.card_wrap {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap; /* 모바일에선 아래로 내려가게 */
  position: relative;
  z-index: 12;
}
.card_wrap .card {
  /* 연산자 양 옆에 공백 1칸 필요 (안그럼 하나의 숫자로 인식) */
  width: calc(25% - 20px); /* 사이간격 총 40생김 (각20) */
  height: fit-content;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  will-change: width, flex;
}
.card_wrap .card:hover {
  width: calc(28% - 20px); /* 간격은 유지 */
}
.card .img_area {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.card .img_area img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: grayscale(70%);
  transition: 0.3s;
}
.card:hover .img_area {
  background-color: rgba(0, 0, 0, 0.6);
}
.card:hover .img_area img {
  filter: grayscale(0%) drop-shadow(3px 3px 3px rgb(86, 9, 211));
}
.card .text_wrap {
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  position: relative;
}
.card .text_wrap h3 {
  font-size: var(--md-font-size);
  margin-bottom: 10px;
  text-transform: capitalize;
}
.card .text_wrap p {
  font: var(--sm-font-size);
  height: 120px; /* 아예 높이 지정해서 <p>가 2줄나와도 레이아웃 안틀어지게 */
  margin-bottom: 20px;
}
.card .text_wrap .more:hover {
  color: var(--sub-color);
  border: 1px solid var(--sub-color);
}
/* 롤링텍스트 */
.rolling {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: clamp(50px, 6vw, 100px);
  font-weight: 800;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  z-index: 11;
  transform: rotate(10deg);
}
.rolling div {
  display: flex;
  gap: 30px;
  will-change: transform;
  width: max-content; /* 컨텐츠가 가질수있는 최대넓이 */
  position: absolute;
}
.rolling div p {
  flex-shrink: 0; /* 크기 안줄어들게 */
}
/* 라인글자 */
.rolling div p:nth-child(even) {
  /* 짝수번째 */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--main-color);
}
.rolling div p:nth-child(odd) {
  /* 홀수번째 */
  color: var(--main-color);
}
.fill_text {
  animation: rolling1 12s linear infinite reverse;
  will-change: transform, animation;
}
.fill_text p:last-child {
  margin-right: 30px;
}
.line_text {
  animation: rolling2 12s linear infinite reverse;
  will-change: transform, animation;
}
@keyframes rolling1 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes rolling2 {
  0% {
    transform: translateX(100%); /* 8개의 <p> 가로 전체사이즈 */
  }
  100% {
    transform: translateX(0%);
  }
}
/* footer */
footer {
  width: 100%;
  height: 80px;
  color: #333;
  border-top: 1px solid #222;
}
footer .con {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .con h2 {
  filter: invert(40%);
  transition: 0.3s;
}
footer .con h2:hover {
  filter: invert(70%);
}
.footer_icon {
  display: flex;
  gap: 20px;
}
.footer_icon a {
  color: #444;
  display: block;
  padding: 4px;
  transition: 0.3s;
}
.footer_icon a:hover {
  color: var(--sub-color);
}
